.signin-container{
    margin: 30px 50px;
    display: grid;
    place-content: center;
     
    .img-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .fspimage{
            width: 6em;
        }

    }

    .input-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50vh;
        width: 23vw;
        padding: 0px 30px;
        color: grey;
        font-size: 12px;
        form{
            display: flex;
            flex-flow: column;
            gap: 5px;
            
            input{
                padding: .6rem;
                border: 1px solid rgb(224, 224, 224);
                border-radius: .2rem;
                outline: none;
                &:focus {
                    border-color: rgba(9, 81, 236, 0.301);
                }
            }

            &  label {
                margin-top: 1rem;
            }

            &  .cta {
                margin: 1rem 0;
                width: 100%;
                text-align: center;

                &  button {
                    padding: 1rem;
                    width: 100%;
                    background-color: orange;
                    color: white;
                    border: none;
                    cursor: pointer;
                    transition: all .5s;
                    border-radius: .2rem;
                    &:hover {
                        background-color: rgb(228, 148, 0);
                    }

                }

                &  .signup {
                    background-color: transparent;
                    color: green;
                    text-decoration: underline;
                    width: min-content;
                    margin-top: 1rem;
                    &:hover {
                        background-color: transparent;
                    }
                }

            }
            
            

        }
        
       

    }
    

}