.client-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 93vh ;
    
    .client-left{
        margin-top: 3rem;
      
    .client-items{
        min-width: 180px;
        display: grid;
        grid-template-columns: 1fr 3fr;
        border-radius: 5px;
        align-content: center;
        margin: 1rem 0;
        padding: 1rem;
        box-shadow: 1px 1px 5px rgba(41, 41, 41, 0.205);

        .dot{ 
            place-self: center;
            width: 15px;
            height: 13px;
            background-color: #7BC8FF;
            border-radius: 50%;
        }
        .dot-name{
            margin-left: 10px;
            place-self:center start;
            font-size: 1rem;
            #title{
                color: grey;
                font-size: 9px;
            }

        }
        span{
            display: block;
        }
      
        
    }
}
    .client-right{
        margin: auto;
        box-shadow: 1px 1px 5px rgba(41, 41, 41, 0.384);
        
        .client-right-container{ 
            width: 45vw;
            height: 70vh;
            border-radius: 5px;
            padding: 2rem ;
            

            .inner-right-container{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-gap: 2rem;
                margin: 2rem 0;
                
                .inner-items{
                    box-shadow: 1px 1px 5px rgba(41, 41, 41, 0.384);
                    padding: .5rem;
                    border-radius: 5px;
                    text-align: center;
                    background-color: rgba(255, 166, 0, 0.171);
                    color: black;
                }
            }
            .dot-name{
                display: flex;
                flex-direction: column;
                margin-left: 10px;
                place-self:center start;
                font-size: 16px;
                #title{
                    color: grey;
                    font-size: 10px;
                }
    
            }

            
        }
    }
}
