:root{
--backGround : #FFFFFF;
}
.container{
    display: grid;
    grid-template-columns: minmax(15rem, 16rem) 1fr minmax(10rem, 70vw);
    grid-template-rows: 7vh 93vh;
    grid-template-areas: 
	"n h h" 
	"n m m";        
}
.header{
    background-color: var(--backGround);
    grid-area: h;
    border-bottom: 0.1em solid rgba(128, 128, 128, 0.13);
    display: grid;
    justify-content: end;
    align-content: center;
    #bell{
        font-size: 1rem;
        margin-right:20px ;
    }
}

.nav{
    background-color: #e0e0e034;
    grid-area: n;
    
    #avatar{
        justify-self: start;
        padding: .9rem;
        border-bottom: 1px solid rgb(224, 224, 224);

        #title{
            color: grey;
            font-size: 12px;
        }
    }

    span{
        display: block;
    }

    #nav-items{
        display: grid;
        justify-content: stretch;
        align-content: stretch;
        grid-auto-rows: 50px; 
        margin-top: 15rem;

        div{
            display: flex;
            align-items: center;

            cursor: pointer;
            padding: 1.5rem;
            transition: all .2s linear;

            &  .icon {
                margin: 0;
            }

            &:hover{
                color: orange;
            }
        }
        #active{
            color: orange;
        }
        
    } 
}
.main{
    background-color: var(--backGround);
    grid-area: m;  
    padding: 2rem;
}